
<h2>welcome {{user}}</h2>

<div>
 <button class="btn btn-danger" (click)="logout()" style="margin-left: 90%;">logout</button>
<br><br>
<button class="btn btn-warning" style="margin-left: 90%;">cancel  </button>
</div>


<div class="card">
    <form>
        <h4 id="a2">ADD events</h4>


       <button class="btn btn-warning" id="a3" (click)="viewevent()">view all events</button>

        <h6 id="a2" >Title</h6>

        <input type="text" id="a1">


        <h6 id="a2">Content</h6>
        <textarea name="" id="a1" cols="30" rows="5"></textarea>
    </form>
</div>


